@import "../../../styles/Variable.scss";
.main{
    width: 100%;
    height: max-content;
    display: flex;
    padding: 1rem 0;

    @include breakpoint (md) {
        width: 100%;
        min-height: 100vh;
        overflow: scroll;
        flex-direction: column;
        position: absolute;
        top: 80px;
        background: $textcolor;
        color: $backgoround;
        transition: .5s;
        right: -100%;
        z-index: 10;
        // border: 1px solid red;
    }
    // border: 1px solid yellow;
    &__mainbox{
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 2rem;

        @include breakpoint (md) {
            width: 100%;
            height: max-content;
            margin: 1rem 0;
        }

        &__header{
            padding-bottom: 1rem;
            @include breakpoint (md) {
                width: 100%;
                // border: 1px solid red;
                display: flex;
                padding: 0 .5rem;
                height: 3rem;
                align-items: center;
                justify-content: space-between;
                background-color: #f7f7f7;

            }
            &__icon {
                display: none;
                @include breakpoint (md) {
                    display: block;
                    font-size: 1.6rem;
                    transition: .5s;
                    font-weight: 900;
                }
            
            }
            p{
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: 300;
                @include breakpoint (md) {
                    font-weight: 900;
                }
            }
           
        }
       &__footer{
        // border: 1px solid red;
        // padding: 0 .3rem;
        // margin: 0 1rem;
        width: 16rem;
        &:nth-child(2){
            @include breakpoint (md) {
                width: 100%;
                height: max-content;
            }
            
        }
        @include breakpoint (md) {
            width: 100%;
            height: 10rem;
            overflow: scroll;
            padding: 0;
        background-color: #f7f7f7;


        }
        &__content{
            width: max-content;
            @include breakpoint (md) {
                width: 100%;
                height: max-content;
                border-left: 1px solid $texthover;
                padding: 1rem .5rem;
                color: $backgoround;
                margin: 1rem 0;
            }
            @include breakpoint (md) {
                width: 100%;
                height: max-content;
                border-left: 1px solid $texthover;
                padding: 1rem .5rem;
                color: $backgoround;
                margin: 1rem 0;
            }
            &:hover{
                color: $texthover;
              
                p{
                    color: $texthover;
                }
            }
            span{
                font-weight: 500;
                font-size: 1rem;
            }
            p{
                color: rgba(255, 255, 255, 0.247);
                font-size: .9rem;
                @include breakpoint (md) {
                    color: #010b3a69;
                }
            }
        }
       }

    }
}
.right {
    @include breakpoint (md) {
        right: 0;
        transition: .5s;
    }

}
.none{
    display: none;
}
.new{
background-color: $texthover;
border-radius: 3.5rem;
color: $backgoround;
font-size: .75rem;
font-weight: 600;
margin-left: .5rem;
padding: .1rem .35rem .15rem;
text-align: center;
text-transform: uppercase;


}
.rotate{
    @include breakpoint (md) {
        transform: rotate(45deg);
    }

}

.div{
    padding: .2rem 0;
    width: 15rem;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid yellow;
    @include breakpoint (md) {
        width: 100%;
        height: 3rem;
        padding: 0 .5rem;
    }
    img{
        width: 3rem;
        height: 2rem;
        object-fit: cover;
        border-radius: .2rem;
    }
}

.head{
    display: none;
    @include breakpoint (md) {
        display: block;
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        span{
            width: 2rem;
            height: 100%;
            font-size: 2rem;
            display: flex;
            align-items: center;
        }
    }
}